.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;

  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: red;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #ff3b3b;
}

.nav-icons {
  display: flex;
  gap: 20px;
  font-size: 22px;
  cursor: pointer;
}

.nav-icons svg {
  color: rgba(255, 255, 255, 0.9);
  transition: 0.2s;
}

.nav-icons svg:hover {
  color: #ff3b3b;
}
